/.bundle/
/tmp

# Ignore log files
*.log
/test/dummy/tmp/
/test/dummy/db/

# Created by https://www.gitignore.io/api/macos,sublimetext

### macOS ###
.DS_Store
._*
.DS_Store?
.AppleDouble
.LSOverride
.byebug_history
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# YARD
/.yardoc
/doc/

.idea
