name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }} / ${{ matrix.gemfile }}
    strategy:
      fail-fast: false
      matrix:
        gemfile:
         - Gemfile
        ruby: ["3.2", "3.3", "3.4"]
    env:
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
    steps:
    - name: Check out code
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - name: Set up Ruby ${{ matrix.ruby }}
      uses: ruby/setup-ruby@90be1154f987f4dc0fe0dd0feedac9e473aa4ba8 # v1.286.0
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: RuboCop
      run: bin/style
    - name: Tests
      run: bin/test
    - name: CLDR Rake Tasks Integration Test
      run: bin/test-cldr-rake-tasks

